streamlit
numpy
pandas
matplotlib
scikit-learn
scipy
plotly
nltk
networkx
seaborn
altair
streamlit_lottie
streamlit_ace
pydeck
librosa
opencv-python-headless
Pillow
pedalboard
mido
pygame
soundfile
sox
replicate
music21
scikit-learn
statsmodels
dask
torchvision
imageio
pydub
audioread
scipy
pyglet
arcade
sympy
networkx
open3d
flask
socket
zipfile
tarfile
pyyaml
watchdog
psutil
