streamlit
numpy
pandas
matplotlib
scikit-learn
scipy
plotly
nltk
networkx
seaborn
altair
streamlit_lottie
streamlit_ace
pydeck
librosa
opencv-python-headless
Pillow
pedalboard
mido
pygame
soundfile
sox
replicate
music21
psutil
watchdog
socket
zipfile
tarfile
pyyaml
