streamlit
requests
plotly
pandas
numpy
streamlit-lottie
streamlit-ace
json
matplotlib
seaborn
altair
pydeck
librosa
opencv-python-headless
Pillow
pedalboard
mido
pygame
soundfile
sox
psutil
streamlit-player
streamlit-webrtc
av
d3graph
networkx
textblob
wordcloud
spacy
yfinance
pytube
